SILICONFLOW_API_KEY=your_api_key_here
LLM_BASE_URL=https://api.siliconflow.cn/v1
LLM_MODEL=deepseek-ai/DeepSeek-R1-Distill-Qwen-7B
SILICON_EMBEDDING_BASE_URL=https://api.siliconflow.cn/v1/embeddings
SILICON_EMBEDDING_MODEL=netease-youdao/bce-embedding-base_v1
RERANKER_URL=https://api.siliconflow.cn/v1/rerank
RERANKER_MODEL=netease-youdao/bce-reranker-base_v1
RAG_CHUNK_SIZE=100
RAG_CHUNK_OVERLAP=10
RAG_SIMILARITY_SEARCH_K=30
RAG_RERANK_TOP_K=3
RAG_DATA_DIR=./data
ALLOWED_ORIGINS=*
